html{
    background-color: grey;
    font-size: 32px;
}

/* O padrão de tamanho da forte é de 16px

1 em = 16 pixeis */

body{
    background-color: blueviolet;
    width: 50%;
    /* font-size: 3em; */
    font-size: 3rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    /* font-size: 1.5em; */
    font-size: 1.5rem;
}

.filho{
    background-color: #1de9b6;
    width: 50%;
    /* font-size: 3em; */
    font-size: 0.5rem;
}